[submodule "serviciosidee2qgis/descarga_limites_administrativos"]
	path = serviciosidee2qgis/descarga_limites_administrativos
	url = https://github.com/IngenieroGeomatico/descarga_limites_administrativos
